@page
@model GeoJason.Web.Pages.MapModel
@{
    ViewData["Title"] = "Map";
}

<h1>@ViewData["Title"]</h1>

<!-- Vue App Root Element -->
<div id="app"></div>

@section Scripts {
    <!-- Include Vue.js app scripts and any other dependencies -->

    <!-- This is development only -->
    <script type="module" src="http://localhost:5173/src/main.js"></script>
    <!-- This is development only -->


    <!-- This is production only -->

    <!-- This is development only -->
}
